.words {
  text-align: center;
}

.errors h4 {
  color: red;
}

.words .title {
      font-family: 'Vollkorn SC', serif;
      font-size: 4rem;
      margin-top: 5rem;
}

.word {
  background: #f1f1f1;
  border-radius: 4px;
  margin: 0 4px;
  padding: 2px 4px;
}
