{% autoescape xhtml_escape %}
{% autoescape None %}

<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Octopus code challenge</title>

    <link rel="stylesheet" href="{{ static_url('style/foundation.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('style/app.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Vollkorn+SC" rel="stylesheet">
  </head>

  <body>
    <div class="grid-container words">
      <div class="grid-x grid-margin-x">
        <div class="cell medium-12">
          <h3 class="title">Word counter</h3>
          <table class="stack">
            <thead>
              <th>word</th>
              <th>frequency</th>
            </thead>
            <tbody>
              {% for w in words %}
              <tr>
                <td> {{ w[0] }} </td>
                <td> {{ w[1] }} </td>
              </tr>
              {% end %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>

</html>
