{% autoescape xhtml_escape %}
{% autoescape None %}

<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Octopus code challenge</title>

    <link rel="stylesheet" href="{{ static_url('style/foundation.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('style/app.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Vollkorn+SC" rel="stylesheet">
  </head>

  <body>
    <div class="grid-container words">
      <div class="grid-x grid-margin-x">
        <div class="cell medium-12">
          <h3 class="title">Word counter</h3>
          <div class="grid-x grid-margin-x">
            <div class="cell medium-8 medium-offset-2">
              <form  method="post">
                <div class="input-group cell">
                  <span class="input-group-label">url</span>
                  <input class="input-group-field" type="text" name="url" placeholder="insert url to count words">
                  <div class="input-group-button">
                    <input type="submit" class="button" value="Submit">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        {% if url %}
        <div class="cell medium-12">
          <h2>{{ url }}</h2>
          <div class="wordcloud">
          </div>
        </div>
        {% end %}
      </div>
      {% if errors %}
      <div class="cell medium-12 callout alert errors">
        <h4>{{ errors }}</h4>
      </div>
      {% end %}
    </div>
    <script src="{{ static_url('script/d3.js') }}" charset="utf-8"></script>
    <script src="{{ static_url('script/d3.layout.cloud.js') }}"></script>
    <script src="{{ static_url('script/d3.wordcloud.js') }}"></script>
    {% if url and words %}
    <script>
      d3.wordcloud()
      .selector('.wordcloud')
      .words({{ json_encode(words) }})
      .start();
    </script>
    {% end %}
  </body>

</html>
